<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>RentWise AI Botswana</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <nav>
        <div class="logo">🏠 RentWise AI Botswana</div>

        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <section class="hero">

        <div class="hero-text">
            <h1>Find Your Perfect Home with AI</h1>

            <p>
                RentWise AI Botswana helps tenants discover affordable,
                verified and AI-powered rental recommendations across Botswana.
            </p>

        </div class="buttons">
             <button>Get Started</button>
             <button class="secondary">Explore
        Properties</button>
             </div>

    </section>

</body>
</html>