<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>{{ property['title'] }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="details-container">

        <img src="{{ url_for('static', filename=property['image']) }}"
             class="details-image">

        <h1>{{ property['title'] }}</h1>

        <h2>{{ property['location'] }}</h2>

        <h3>P{{ property['price'] }}/month</h3>

        <p>

            Bedrooms:
            {{ property['bedrooms'] }}

            <br><br>

            Bathrooms:
            {{ property['bathrooms'] }}

        </p>

        <p>

            {{ property['description'] }}

        </p>

        <button class="book-btn">

            Book Viewing

        </button>

        <br><br>

        <a href="/">← Back Home</a>

    </div>

</body>

</html>